<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mojinprince.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>__SERVER_BINARY__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>BIND_ADDR</key>
    <string>127.0.0.1:8732</string>
    <key>DATABASE_URL</key>
    <string>__DATABASE_URL__</string>
    <key>RUST_LOG</key>
    <string>info,actix_web=info,sqlx=warn</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__STDOUT_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_LOG__</string>
</dict>
</plist>
